body{
    color: rgb(220,220,220);
    background-color: rgb(10,10,35);
}

a{
    text-decoration: none;
}
a .title{
    font-size: 1.5rem;
    color: #aaa
}
.main-container{
    /* margin: 0.5rem; */
    padding-top: 0rem;
}
.movies-container{
    background-color: rgb(20,20,25);
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
}
.movie-details{
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgb(76, 76, 102);
}
.movie-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-img{
    width: 90%;
    margin: 5%
}
.review-img{
    height: 40vh;
    object-fit: cover;
}
.synopsis{
    transform: translateY(100%);
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: 100%;
    transition: all 1s;
    top: 50%;
    padding: 0.5rem;
    text-align: justify;
    background: rgba(20,20,25,0.8);
}

.movie-details:hover .synopsis{
    transform: translateY(0%);
    opacity: 1;
    z-index: 2;
}

/* playlist */
.add-playlist-btn{
    float:right
}

.thumbnail{
    width:5rem;
    height: 5rem;
    object-fit: cover;
}
.thumbnail-2{
    width:4rem;
    height: 4rem;
    border-radius: 40%;
    margin: 0.5rem 0;
    object-fit: cover;
}

.no-movies{
    margin: 2rem;
    font-size: 1.1rem;
    color: #eef;
}

/* profile */
.profile-header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10rem;
    padding: 1rem;
    margin: 0;
    padding-left: 2rem;
    background-color: rgba(20,20,25, 0.9);
}
.profile-header div{
    /* display: block; */
    align-items: center; 
}

.header-section-2{
    display: flex;
    align-items: center; 
}
.movies-header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10rem;
    padding: 1rem;
    margin: 1rem 0;
    color: rgb(170,175,210);
    background-color: rgb(20,20,25);
}
.movies-header span{
    color: rgb(180,180,180);
}
.profile-name{
    color: rgb(170,175,210);
    margin-right: 1rem;
}

.profile-name span{
    color: rgb(200,200,200);
}

.thumbnail-picture{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.navbar { 
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
/*
CSS to change bootstrap button color.
Source :: https://forum.bootstrapstudio.io/t/style-mobile-menu-button/9648/2
*/

}

.profile-picture{
    border-radius: 1.5rem;
    width:4rem;
    height: 4rem;
    margin: 0.7rem;
    border: 0.3rem solid #444;
    object-fit: cover;
    /* right: 4rem;
    position: absolute;
    top: 0rem */
}

.cover-picture{
    position: absolute;
    height: 10rem;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.profile-box{
    display: flex
}

/* subPage */
.subPage{
    margin-top: 13rem;
    margin-bottom: 13rem;
}

.reviews-page{
    margin-bottom: 30rem;
}

/* admin */
.admin-page-top{
    position: absolute; 
    z-index: 5;
    top: 0; 
    width: 100%
}

.bg-picture{
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

/* user */
.select-admin{
    background: #000;
}

/* .adminlist{
    height: 10rem;
    overflow-y: auto ;
} */

.profile-picture-dropdown{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 15%;
}

.slide-image{
    height: 50vh;
    object-fit: cover;
}

.carousel-caption{
    position: absolute;
    font-size: 3rem;
    color: #cce;
    background: #002;
}
/* .innerAdminOptions{
    background-color: inherit;
    width: 10rem;
    height: 10rem;
    overflow: auto;
} */

/* tables */
/* .list-table th, .list-table td {
    border: 1px solid white;
    border-radius: 10%;

} */

table{
    /* background: #003; */
}
th, td {
    /* background-color: #2e3636; */
    background-color: none;
    color: #ddd;
    padding: 0.6rem;
}


/* authentication */
.auth-page-top{
    position: absolute; 
    z-index: 7;
    top: 0; 
    width: 100%;
}
.auth-landing-page-picture{
    height: 100vh;
    position: fixed;
    z-index: 3; 
}

.auth-container{
    padding-top: 10rem
}
.auth-overlay{
    z-index: 3; 
    padding: 30rem;
    height: 100vh; 
    width: 100vw; 
    background: rgba(0,0,30,0.8); 
    position:absolute
}
.auth-inner-container{
    position: relative;
    z-index: 4
}

.form{
    border: none;
    background: none;
    margin-top: 1rem;
    height: calc(100vh - 5rem);
    z-index: 0;
    overflow: hidden;
}
.form, .review-form{
    z-index: 0;
    overflow: hidden;
}
.sign-up-table{
    position: absolute;
    z-index: 2;
}
.sign-in-table{
    position: absolute;
    z-index: 2;
    width: 50%;
    margin-top: 10rem;
}
.create-review{
    margin-top: 1rem
}
.review-table{
    position: absolute;
    z-index: 2;
    width: 50%;
    margin-top: 1rem;
}
.sign-in-table{
    /* margin-top: 30%; */
}
.form-bg-container{
    position: absolute;
    z-index: 1;
    width: 50%;
    right: 0;
    height: 5rem;
}

.form-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    /* background: red; */
    height: 100%;
    border-bottom: 0.5rem solid gray;
    width: 60%;
    /* animation: myAnimation 5s linear 2s infinite alternate; */
}

/* @keyframes myAnimation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  } */

@-moz-keyframes spin { 
    0% {
        transform: rotate(0);
        transform: skew(20deg)
      }
      100% {
        transform: rotate(360deg);
        transform: skew(-20deg)
      }
}
@-webkit-keyframes spin { 
    0% {
        transform: rotate(0);
        transform: skew(20deg)
      }
      100% {
        transform: rotate(360deg);
        transform: skew(-20deg)
      }
}
@keyframes spin { 
    0% {
        transform: rotate(0);
        transform: skew(180deg)
      }
      100% {
        transform: rotate(360deg);
        transform: skew(-160deg)
      }
}

.btn-default{
    color:#aaa
}
.btn-default:hover{
    color:#fff
}

.title-inner{
    font-size: 1.4rem;
    font-style: italic;
    color: #ddd;

}



/* Buttons */
.auth-btn{
    float:right   
}
.update-btn:hover{
    color: rgb(176, 106, 0)
}

.delete-btn:hover{
    color: rgb(135, 15, 15)
}


/* footer */
.footer{
    height: 5rem;
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 1rem;
    background: #002;
    z-index: 5;
    position: fixed; 
    bottom:0; 
    width: 100vw
}

.em{
    font-size: 1.1rem;
    color: rgb(95, 95, 228);
    font-style: italic;
}

/* landing page */

.landing-page-picture{
    height: 100vh;
    position: absolute;
}

.hero{
    position: absolute; 
    top : 20vh; 
    z-index: 5;
    padding: 5rem; 
    margin: 4rem;
    opacity: 0.9;
    border-radius: 1rem;
    /* background: linear-gradient(123deg, rgb(131, 20, 20), blue); */
}

.hero-title{
    display: inline-block;
    font-size: 7rem;
    font-weight: 600;
    line-height: 0.9;
    padding: 20px;
    text-transform: uppercase;
    background: radial-gradient(white,#111) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay{
    height: 100vh; 
    width: 100vw; 
    background: rgba(0,0,30,0.8); 
    position:absolute
}

/* page */

.picture{
    float: left;
    width: 20rem;
    margin: 2rem
}

.page{
    padding: 5rem; 
    margin: 4rem;
    z-index: 5;
    position: absolute;
}

.page-top{
    position: absolute; 
    z-index: 5;
    top: 0; 
    width: 100%
}


.movie-card{
    background: rgb(31, 31, 73);
    padding: 2rem;
    border-radius: 1rem;
    color: #aab;
}


/* Nav */
.logo{
    width: 4rem;
}
.navbar{
    background: linear-gradient(123deg, #200, #003);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

.nav-item a{
    color: #ccc;
    font-weight: 350;
}
.nav-item a:hover{
    color: #eee;
}

/* @media screen and (max-width: 991px){
    .profile-picture{top: 6rem; right: 1rem}
} */